.appLabel, .appButton .x-btn-inner  {
	color: navy;
	font-size: 22px;
	font-weight: 200;
}

.appHeader .x-panel-body {
	background-color: transparent;
	background-image: url(../images/windup_key.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding: 1px 0px 0px 30px;
	border: none;
	color: navy;
	font-size: 22px;
	font-weight: 200;
	white-space: nowrap;
}

.userName {
	font-size: 12px; 
	font-weight: bold;
	color: navy;
	text-align: right;
	padding-right: 5px;
}

.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
}

.x-grid-row-selected .x-grid-cell-inner {
	font-weight: bold;
}

table.x-grid-table td.x-grid-cell-first.x-grid-cell-special {
	padding-top: 8px;
}

.x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div {
	background-color: #C1D9F0 !important;
}
